# Node modules
node_modules/

# Database / backups
*.db
backup.json

# Electron build output
dist/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env