body {
  background: #0b0f10;
  color: white;
  font-family: Arial;
  padding: 20px;
}

h1 { color: #00ff88; }

input, button {
  padding: 6px;
  margin: 4px;
}

button {
  background: #00ff88;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  background: #111;
  margin-top: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #333;
}